<h1>Library Catalog</h1>

<%# Link to the form for adding a new book %>
<%= link_to "Add New Book", new_book_path %>

<%# List books if non-empty %>
<% if @books.any? %>
<div class="library">
  <% @books.each_slice(8) do |shelf| %>
    <div class="bookshelf">
        <%# Loop through each book and display its data %>
        <% shelf.each do |book| %>
            <div class="book" onclick="toggleBook(this)">
                <div class ="spine">
                    <span class="title"><%= book.title %></span>
                    <span class="author"><%= book.author %></span>
                </div>

                <div class="book-info">
                    <h3><%= book.title %></h3>
                    <p><strong>Author:</strong> <%= book.author %></p>
 <% if book.genre.present? %>
    <p><strong>Genre:</strong> <%= book.genre %></p>
  <% end %>

  <% if book.short_description? %>
    <p><strong>Description:</strong></p>
    <p><%= book.short_description %></p>
  <% end %>

                    <%# Link to edit the book %>
                    <%= link_to "Edit", edit_book_path(book) %>
                </div>
            </div>
        <% end %>
    </div>
    <% end %>
</div>
<% else %>
    <p>No books available.</p>
<% end %>